

<div class="formsignup">
    <h1>Nom</h1>
    <input type="text">
    <h1>Email</h1>
    <input type="text">
    <h1>Mot de passe</h1>
    <input type="text">
    <h1>Confirmation mot de passe</h1>
    <input type="text">
    
    <button class="btnValidation">Créer un compte</button>
    <div class="btnSignUpGoogle">
        <div class="logoGoogle">Logo</div>
        <p>Créer un compte avec google</p>
    </div>
    
    <div class="linkSignin">
        <p>Déjà inscrit ? <a routerLink="/auth/connexion">Connectez-vous</a></p>
    </div>
    

</div>
