<h1>Paramètre du compte</h1>
<div class="emailContainer">
    <h2>Email</h2>
    <div class="formEmail">
        <p>Votre adresse mail est <b>{{ email }}</b> </p>
        <a href="">Modifier</a>
    </div>
    
</div>

<div class="passwordContainer">
    <h2>Mot de passe</h2>
    <div class="formPassword">
        <a href="">Modifier votre mot de passe</a>
        
    </div>
</div>

<div class="supressContainer">
    <h2>Suppréssion du compte</h2>
    <a href="">Vous voulez supprimer votre compte ?</a>
</div>